<form method="post">
	<input type="hidden" name="action" value="confirm.details">
	<input type="text" name="name.first" value="{{authUser.name.first}}">
	<input type="text" name="name.last" value="{{authUser.name.last}}">
	<input type="email" name="email" value="{{authUser.email}}">
	<input type="text" name="website" value="{{authUser.website}}">
	<button type="submit">Confirm</button>
</form>
